.faq {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .faq h1 {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 50px;
  }
  
  .faq section {
    margin-bottom: 20px;
  }
  
  .faq h2 {
    color:red;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
  
  .faq-item {
    margin-bottom: 15px;
  }
  
  .faq-item h3 {
    color:white;
    margin-bottom: 5px;
  }
  
  .faq-item p {
    line-height: 1.6;
    color:white;
  }
  